<header>
    <div class="container" id="nav-container">
      <nav class="navbar navbar-expand-lg fixed-top">
        <a href="#" class="navbar-brand">
          <!-- <img id="logo" src="../assets/img/office-building.png" alt="Quinto andar"> -->
          <span>Quinto</span>
          <span>Andar</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links"
          aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
          <div class="navbar-nav">
            <span>
              <a href="#" class="nav-item nav-link" id="home-menu">Buscar Imoveis</a>
            </span>

            <span>
              <a href="#" class="nav-item nav-link" id="about-menu">Para proprietários</a>
            </span>

            <span>
              <a href="#" class="nav-item nav-link" id="services-menu">Para imobiliárias</a>
            </span>
            
            <span>
              <a href="#" class="nav-item nav-link" id="team-menu">Indicar imoveis</a>
            </span>

            <span>
              <a href="#" class="nav-item nav-link" id="contact-menu">Sobre</a>
            </span>

            <span>
              <a href="#" class="nav-item nav-link" id="-menu">Entrar</a>
            </span>
          </div>
        </div>
      </nav>
    </div>
  </header>